* {
	font-family: arial, helvetica;
}

ul {
	list-style-type: none;
	height: 100%;
	margin: 0;
	padding: 0;
}

li {
	border-bottom: 1px solid #000;
	padding: 2% 0;
}

#patient_list {
	width: 20%;
	height: 100%;
	overflow: scroll;
	margin-right: 50px;
}

#patient_info, #patient_list, #basic_info {
	float: left;
}

img {
	border: 1px solid #000;
	float: left;
	margin: 0 10px 1% 0;
}

#wound_details {
	clear: both;
}

.wrapper {
	margin: 5% 0 2% 0;

}

#dates {
	margin-bottom: 5%;
}
